.section {
  padding: 1rem;
  background: $c-brandwhite;
  color: $c-brandprimary;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: calc(100% / 3 - 1rem - 1rem);
    min-width: 10rem;
    margin: 1rem;
  }
}
