.shop-item {
  border: 3px $c-brandprimary solid;
  max-width: 20rem;
  min-width: 10rem;

  &__details {
    text-align: center;
  }

  &__frame {
    margin: 1rem;
  }

  &__actions {
    display: flex;
    flex-direction: row;
  }

  &__actions-btn {
    flex-grow: 1;
    border: 0;
    border-top: 3px $c-brandprimary solid;
    border-right: 3px $c-brandprimary solid;
    background: $c-brandwhite;
    color: $c-brandprimary;

    &:last-of-type {
      border-right: 0;
    }
  }
}

.shop-menu {
  position: relative;

  &__tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0);
    background: $c-brandwhite;

    &:first-of-type {
      border-bottom: 3px $c-brandprimary solid;
    }
  }

  &__tooltip-item {
    padding: 0.5rem;
    border-top: 3px $c-brandprimary solid;
    border-right: 3px $c-brandprimary solid;
    border-left: 3px $c-brandprimary solid;

    &:hover {
      font-size: 1rem;
    }
  }
}

.shop-menu__tooltip-item--color-red {
  color: $c-pink;

  &:hover {
    font-size: 1rem;
  }
}

.shop-menu__tooltip-item--color-blue {
  color: $c-blue;

  &:hover {
    font-size: 1rem;
  }
}

.shop-menu__tooltip-item--color-yellow {
  color: $c-yellow;

  &:hover {
    font-size: 1rem;
  }
}

.shop-menu__tooltip-item--color-green {
  color: $c-green;

  &:hover {
    font-size: 1rem;
  }
}
