.section {
  padding: 1rem;
  background: $c-brandwhite;
  color: $c-brandprimary;
}

.container {
  min-width: 20%;
  max-width: 80%;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: calc(100% / 3 - 1rem - 1rem);
    min-width: 5rem;
    margin: 1rem;
  }
}

@media (max-width: 400px) {
  .container {
    min-width: 20%;
    max-width: 80%;
    margin: 0 auto;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: calc(100% / 3 - 1rem - 1rem);
      min-width: 10rem;
      margin: 1rem;
    }
  }
}
